<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


	<bean class="com.moxuan.shop2u.util.EncryptPropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
				<value>classpath:redis.properties</value>
			</list>
		</property>
		<property name="fileEncoding" value="UTF-8" />
	</bean>


	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<!-- properties -->
		<property name="driverClass" value="${jdbc.driver}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />

		
		<property name="maxPoolSize" value="30" />
		<property name="minPoolSize" value="10" />
		
		<property name="autoCommitOnClose" value="false" />
		
		<property name="checkoutTimeout" value="10000" />
		
		<property name="acquireRetryAttempts" value="2" />
	</bean>

	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- setup for MyBatis global config files:mybatis-config.xml -->
		<property name="configLocation" value="classpath:mybatis-config.xml" />
		<!-- scan entity package use alias -->
		<property name="typeAliasesPackage" value="com.moxuan.shop2u.entity" />
		<!-- scan sql config files: xml files mapper needs -->
		<property name="mapperLocations" value="classpath:mapper/*.xml" />
	</bean>

	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
		
		<property name="basePackage" value="com.moxuan.shop2u.dao" />
	</bean>
</beans>